/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
		/* background-color: #C0DEED; */
}

body {
		font-family: "Georgia", "Microsoft YaHei", Cambria, Times New Roman, Times, serif;
    font-size: 1em;
    line-height: 1.4;
		background-position: left 40px;
		background-attachment: fixed;
		background-repeat: repeat;
		background-repeat: no-repeat;
		/* background-color: #C0DEED; */
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
		color: white;
		background: pink;
    /* background: #b3d4fc; */
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body a {
    color: #24A0DA;
}
body a:hover {
    color: purple;
}
body a:active {
    color: purple;
}
body a:visited {
    color: purple;
}

.title  { text-align: center; }
.todo   { color: red; }
.done   { color: green; }
.tag    { background-color: #add8e6; font-weight:normal }
.target { }
.timestamp { color: #bebebe; }
.timestamp-kwd { color: #5f9ea0; }
.right  {margin-left:auto; margin-right:0px;  text-align:right;}
.left   {margin-left:0px;  margin-right:auto; text-align:left;}
.center {margin-left:auto; margin-right:auto; text-align:center;}
p.verse { margin-left: 3% }
pre {
		border: 1pt solid #AEBDCC;
		background-color: #F3F5F7;
		padding: 5pt;
		font-family: courier, monospace;
    font-size: 90%;
    overflow:auto;
		box-shadow: 1px 1px 6px gray;
}
table { border-collapse: collapse; }
td, th { vertical-align: top;  }
th.right  { text-align:center;  }
th.left   { text-align:center;   }
th.center { text-align:center; }
td.right  { text-align:right;  }
td.left   { text-align:left;   }
td.center { text-align:center; }
dt { font-weight: bold; }
div.figure { padding: 0.5em; }
div.figure p { text-align: center; }
div.inlinetask {
    padding:10px;
    border:2px solid gray;
    margin:10px;
    background: #ffffcc;
}
textarea { overflow-x: auto; }
.linenr { font-size:smaller }
.code-highlighted {background-color:#ffff00;}
.org-info-js_info-navigation { border-style:none; }
#org-info-js_console-label { font-size:10px; font-weight:bold;
                             white-space:nowrap; }
.org-info-js_search-highlight {background-color:#ffff00; color:#000000;
                               font-weight:bold; }
#table-of-contents {
    font-size: 9pt;
    position: fixed;
    right: 0em;
    top: 0em;
    background: white;
    -webkit-box-shadow: 0 0 1em #777777;
    -moz-box-shadow: 0 0 1em #777777;
    box-shadow: 0 0 1em #777777;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
		border-bottom-left-radius: 5px;
    text-align: right;
    max-height: 80%;
    overflow: auto;
    z-index: 200;
}
#table-of-contents #text-table-of-contents {
    display: none;
    text-align: left;
}
#table-of-contents:hover #text-table-of-contents {
    display: block;
    padding: 0.5em;
    margin-top: -1.5em; 
}
#table-of-contents ul {
    margin-left: 14pt;
    margin-bottom: 10pt;
    padding: 0;
}
#table-of-contents ul>:first-child {
    color: blue;
}
#table-of-contents li {
    padding: 0;
    margin: 1px;
    list-style: none;
}
#text-table-of-contents li a:hover {
    /* font-size: 16px; */
    color: yellowgreen;
}
a:hover, a:active { 
    text-decoration: underline; 
    color: #FF0000;
/* color: #537d7b; */
}

.wrapper {
		background-color: #C0DEED;
		overflow: auto;
}

section#home {
		padding-top: 15%;
}

ul#mainNav li {
		display: inline;
		margin: auto 0.9em;
}

/* ul#mainNav li:hover:after { */
/* 		content: "icecream"; */
/* } */

ul#mainNav a{
		text-decoration: none;
}

section#home {
		text-align: center;
}

/* archive */
ul.archive {
    /* font-family: 'Libre Baskerville', serif; */
}
ul.archive>li {
    list-style-type: decimal-leading-zero;
		margin: 24px 0;
		padding: 10px;
		text-align: center;
		background: #faefe3;
		color: #1aa90c;
		box-shadow: 2px 2px 6px gray;
}
ul.archive>li:hover {
		box-shadow: 1px 1px 1px gray;
		cursor: pointer;
}
ul.archive>li a{
		color: #1aa90c;
		text-decoration: none;
}
/* archive end */

/* tags */
ul.tags {
    font-size: 16px;
    color: rgb(236, 184, 184);
}

.tag-cloud, .post-list {
    /* white-space: pre;		/\*when met space to enter*\/ */
    display: inline-block;
    margin: 0;
    padding: 0;
    font-family: Monaco, Menlo, Consolas, "Courier New", Courier, "Liberation Mono", monospace;
    font-size: 16px;
    padding: 0 .5em;

    /* line-height: 1.8em; */
    /* background: #333; */

    /* background:rgb(228, 222, 222); */
    /* color: #fff; */
    /* border-radius: 5px; */
    /* box-shadow: inset 0 1px 10px rgba(0,0,0,.3), 0 1px 0 rgba(255,255,255,.1), 0 -1px 0 rgba(0,0,0,.5); */
}

.tag-cloud a {
		box-shadow: 3px 3px 4px gray;
		background: #24A0DA;
		color: white;
}

.tag-cloud a:hover {
		color: white;
		box-shadow: 1px 1px 1px gray;
		text-decoration: none;
    /* text-decoration:underline; */
		cursor: pointer;
}
.post-list li {
    list-style-type:hiragana;
    color: purple;
		
		background: #faefe3;
		box-shadow: 2px 2px 6px gray;
		margin: 1.3em 0em;
}

.post-list li:hover {
		box-shadow: 1px 1px 1px gray;
}
.post-list li a {
    text-decoration: none;
}

/* article */
article header {
		text-align: center;
}

article header nav {
		list-style-type: none;
		text-align: center;
}

article header nav li{
		/* float: left; */
		display: inline;
		background-color: #58b4db;
		margin: auto 9px;
		padding: 4px 4px;
		box-shadow: 2px 2px 9px gray;
}
article header nav li:hover{
		box-shadow: 1px 1px 1px gray;
}

article header nav li a{
		color: #ddd;
		text-decoration: none;
}
article header nav li a:hover{
		color: white;
		text-decoration: none;
}
article header nav li a:visited{
		color: #ddd;
		text-decoration: none;
}

article h2[id*='sec'] {
		/* border-left: solid 6px #f55641; */
		background: #61B842;
		color: white;
		padding-left: 4px;
		box-shadow: 1px 1px 4px gray;
}

article h3[id*='sec'] {
		/* border-left: solid 4px #d43e34; */
		/* padding-left: 10px; */
		/* background-color: #3369e8; */
		background-color: #f55641;
		color: white;
		padding-left: 4px;
		box-shadow: 1px 1px 4px gray;
		
		/* color: #3369e8; */
}

article h4[id*='sec'] {
		background-color: rgb(128, 88, 165);
		color: white;
		padding-left: 4px;
		/* color: rgb(128, 88, 165) */
}

/* article div[class*="outline-text"] { */
/* 		background: #CCFFFF; */
/* 		box-shadow: 1px 1px 1px gray; */
/* } */

.section-nav a {
		background: purple;
		box-shadow: 3px 3px 6px gray;
		color: #ddd;
		text-decoration: none;
		border-radius: 2px;
		padding: 0.4em;
}
.section-nav a:hover {
		color: white;
		box-shadow: 1px 1px 1px gray;
}
.section-nav a:visited {
		color: #ddd;
}

/* 回到顶部 */
.backToTop {
		color: #24A0DA;
    z-index: 44;
    position: fixed;
    bottom: 44px;
    right: 150px;
    font-size: 44px;
    display: none;
}

/* hide elements */
.hide {
    display: none;
}

/* 基础布局 */
.container {
  width: 68%;
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
}

.container:before,
.container:after {
  display: table;
  line-height: 0;
  content: "";
}

.container:after {
  clear: both;
}

/* footer */
.footer {
    text-align: center;
    font-family: 'Vivaldi', italic;
}
.footer a {
    text-decoration: none;
    color: blueviolet;
}
.footer a:hover {
    color: blueviolet;
}
/* footer end */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
