*.png filter=lfs diff=lfs merge=lfs -text
static/lfs/* filter=lfs diff=lfs merge=lfs -text
static/html/articles/*.html filter=lfs diff=lfs merge=lfs -text
static/html/wiki/*.html filter=lfs diff=lfs merge=lfs -text
static/html/translation/*.html filter=lfs diff=lfs merge=lfs -text
static/html/test.html filter=lfs diff=lfs merge=lfs -html