<!-- keyboard && page in doc layout-->
<script type="text/javascript">
    $(function(){
	$(document).keydown(function(e) {
	    if (e.target.nodeName.toUpperCase() != 'BODY') return;
	    var url = false;
	    var prompt = $("#prompt");
	    if (e.which == 37 || e.which == 74) {  // Left arrow and J
		{% if page.previous %}
		  url = '{{ site.url }}{{ page.previous.url }}';
		{% else %}
		  prompt
		    .fadeIn()
		    .html("<p>This is the first article! 这是已经第一篇文章！これが最初の記事だった!</p>").fadeOut(16000);
		{% endif %}
	    }
	    else if (e.which == 39 || e.which == 75) {  // Right arrow and K
		{% if page.next %}
		url = '{{ site.url }}{{ page.next.url }}';
		{% else %}
		  prompt
		    .fadeIn()
		    .html("<p>This is the last article! 这是最后一篇文章！これは、既に最後の記事です!</p>").fadeOut(16000);
		{% endif %}
	    }
	    if (url) {
		window.location = url;
	    }
	});
    });
</script>
