<!-- global keyboard setting -->
<script type="text/javascript">
    $(function(){
	$search_bar = $("div#search-bar");
	$(document).keydown(function(e) {
	    if (e.target.nodeName.toUpperCase() != 'BODY') return;
	    var url = false;
            switch(e.which) { 
		case 72:	// H(Home)
		  url = '{{ site.url }}/';
		  break;
		case 73:	// I(About(Icecream))
		  url = '{{ site.url }}{{ site.about }}';
		  break;
		case 82:	// R(RSS)
		  url = '{{ site.url }}{{ site.rss }}';
		  break;
		case 65:	// A(Archive)
		  url = '{{ site.url }}{{ site.archive }}';
		  break;
		case 191:	// /(Search)
		  $(".gsc-input").focus();
		  break;
		default:
		  break;
	    }
	    if (url) {
		window.location = url;
	    }
	});
    });
</script>
