<!-- Logo(The title of this site), Google Custom Search -->
<div id="prompt" class="alert alert-error" style="position: fixed;width: 100%;text-align: center; font-size: 24px;background-color: rgb(197, 236, 211); display: none;"></div>  

<div id="org-div-home-and-up" style="text-align:right;font-size:70%;white-space:nowrap;">
 <a accesskey="h" href="http://creamidea.github.io"> UP </a>
 |
 <a accesskey="H" href="http://creamidea.github.io"> HOME </a>
</div>
<div id="preamble">
</div>
<header style="padding-top: 0px;">
  <div id="logo">
    <a href="{{ site.url }}/" style="padding-right: 100px">ICECREAM  氷菓</a> 
    <a href="{{ site.url }}/" style="font-size: 24px" data-toggle="tooltip" data-placement="top" title="Home"><i class="icon-home"></i></a>
    <a href="{{ site.url }}{{ site.archive}}" style="font-size: 24px; color:yellowgreen;" data-toggle="tooltip" data-placement="top" title="Archive"><i class="icon-list"></i></a>
    <a href="{{ site.url }}{{ site.tags_path}}" style="font-size: 24px; color:orange;" data-toggle="tooltip" data-placement="top" title="Tags"><i class="icon-tags"></i></a>
    <a href="{{ site.url }}{{ site.about }}" style="font-size: 24px; color:black" data-toggle="tooltip" data-placement="top" title="About Me"><i class="icon-github-alt"></i></a>
    <a href="{{ site.url }}{{ site.rss }}" style="font-size: 24px; color:#24A0DA" data-toggle="tooltip" data-placement="top" title="RSS"><i class="icon-rss"></i></a>
    <a href="mailto:{{ site.author.email }}" style="font-size: 24px; color:rgb(255, 105, 105)" data-toggle="tooltip" data-placement="top" title="Email Me"><i class="icon-envelope"></i></a>
  </div>
  <div class="clear"></div>
</header>
<div id="search-bar">
  <div id="gcse">
    <gcse:search></gcse:search>
  </div>
</div>
