<header style="padding-top: 0px;">
  <div class="content" style="padding-top: 4px;">
    <div class="grid3 first" style="position: absolute; z-index: 44;">
      <div id="logo">
	<!-- <div id="logoLeft">{</div> -->
	<p style="font-size: 26px;">
	  <a href="{{ site.url }}/" style="color: white;"><i class="icon-home"></i>>>ICE CREAM</a>
	</p>
	<p style="font-size: 24px;">
	  <a href="{{ site.url }}{{ site.archive }}" style="color: white;"><i class="icon-list"></i>>>Archive</a>
	</p>
	<!-- <div id="logoRight">}</div> -->
      </div>
    </div>
    {% include search.html %}
    <div id="search-bar">
      <input type="text" id="search-input" class="" maxlength="80" value="" title="developing...">
      <div id="gcse">
	<gcse:search></gcse:search>
      </div>
      <!-- Search Proposals -->
    </div>
    <div class="clear"></div>
  </div>
</header>
<!-- <script type="text/javascript"> -->
<!--   $(".gsc-search-button").remove(); -->
<!-- </script> -->
