<!-- Logo(The title of this site), Google Custom Search -->
<div id="org-div-home-and-up" style="text-align:right;font-size:70%;white-space:nowrap;">
 <a accesskey="h" href="http://creamidea.github.io"> UP </a>
 |
 <a accesskey="H" href="http://creamidea.github.io"> HOME </a>
</div>
<div id="preamble">
</div>
<header style="padding-top: 0px;">
  <div id="logo">
    <a href="{{ site.url }}/">ICECREAM  氷菓</a> 
  </div>
  <div id="search-bar">
    <div id="gcse">
      <gcse:search></gcse:search>
    </div>
  </div>
  <div class="clear"></div>
</header>
