<script type="text/javascript">
  function getSeconds() {
      var now = Date.now() / 1000; // Date.now() return the number of milliseconds elapsed since 1 January 1970 00:00:00 UTC.
      var start = 686577180 	// calculate in http://www.onlineconversion.com/unix_time.htm
      // you can also use 
      // function humanToTime()
      // {
      // 	  var humDate = new Date(Date.UTC(document.h2u.inYear.value,
      // 					  (stripLeadingZeroes(document.h2u.inMon.value)-1),
      // 					  stripLeadingZeroes(document.h2u.inDay.value),
      // 					  stripLeadingZeroes(document.h2u.inHr.value),
      // 					  stripLeadingZeroes(document.h2u.inMin.value),
      // 					  stripLeadingZeroes(document.h2u.inSec.value)));
      // 	  document.h2u.result.value = (humDate.getTime()/1000.0);
      // }
      // to calculate
      return parseInt(now) - parseInt(start);
  }
  (function() {
      $(".icon-spinner.icon-spin").remove();
      var seconds = getSeconds();
      // var seconds = 100000;
      setInterval(function() {
          var tempSeconds = seconds++
            , s = []
            , sSeconds = "";
	  while(tempSeconds) {
	      s.unshift(tempSeconds%1000);
	      tempSeconds = parseInt(tempSeconds / 1000);
	  }
	  // console.log("s:", s);
	  //////////////////////////////////////////////////
	  sSeconds += s[0];
	  for(var i = 1, len = s.length; i < len; i++) {
	      // avoid display 1, 3, 890
	      if(s[i] < 10)
		  s[i] = "00"+s[i];
	      else if(s[i] < 100)
		  s[i] = "0"+s[i];
	      sSeconds += ", " + s[i];
	  }
	  // console.log("sSeconds:", sSeconds);
	  //////////////////////////////////////////////////
	  $("#mySeconds").html(sSeconds);
      }, 1000);
  })();
</script>
