<div class="navigation">
  <aside>
    <h4><i class="icon-th-large"></i> Navigation</h4>
    <ul>
      <li class="{% if page.title == "ICE • CREAM" %}current{% endif %}">
        <a href="{{ site.url }}/"><i class="icon-home"></i>Home</a>
      </li>
      <li class="{% if page.title == "Archive" %}current{% endif %}">
        <a href="{{ site.url }}{{ site.archive}}"><i class="icon-list"></i>Archive</a>
      </li>
      <li class="{% if page.title == "About" %}current{% endif %}">
        <a href="{{ site.url }}{{ site.about }}"><i class="icon-github-alt"></i>About</a>
      </li>
      <li >
        <a href="{{ site.url }}{{ site.rss }}"><i class="icon-rss"></i>RSS</a>
      </li>
      <li >
        <a href="mailto:{{ site.author.email }}"><i class="icon-envelope"></i>E-Mail</a>
      </li>
    </ul>
    <!-- <h4><a href="{{ site.url }}{{ site.categories_path }}"><i class="icon-list-ol"></i> Categories </a></h4> -->
    <h4><i class="icon-list-ol"></i> Categories </a></h4>
    <!-- categories -->
    {% if page.categories %}
    <ul class="categories">
      {% for category in page.categories %}
      <li><a href="{{ site.url }}{{ site.categories_path }}#{{ category }}"><i class="icon-ok"></i>{{ category }}</a></li>
      {% endfor %}
    </ul>
    {% endif %}
    <!-- tags -->
    <h4><a href="{{ site.url }}{{ site.tags_path }}"><i class="icon-tags"></i> Article Tages </a></h4>
    {% if page.tags %}
    <ul class="tags">
	{% for tag in page.tags %}
	<li><a href="{{ site.url }}{{ site.tags_path }}#{{ tag }}"><i class="icon-tag"></i>{{ tag }}</a></li>
	{% endfor %}
    </ul>
    {% endif %}
  </aside>
</div>
