<!-- The basic information of articles -->
<div class="right_navigation">
  <aside>
    <!-- <h4><a href="{{ site.url }}{{ site.categories_path }}"><i class="icon-list-ol"></i> Categories </a></h4> -->
    <h4><i class="icon-list-ol"></i> Categories </a></h4>
    <!-- categories -->
    {% if page.categories %}
    <ul class="categories">
      {% for category in page.categories %}
      <li><a href="{{ site.url }}{{ site.categories_path }}#{{ category }}"><i class="icon-ok"></i>{{ category }}</a></li>
      {% endfor %}
    </ul>
    {% endif %}
    <!-- tags -->
    <h4><a href="{{ site.url }}{{ site.tags_path }}"><i class="icon-tags"></i> Article Tages </a></h4>
    {% if page.tags %}
    <ul class="tags">
	{% for tag in page.tags %}
	<li><a href="{{ site.url }}{{ site.tags_path }}#{{ tag }}"><i class="icon-tag"></i>{{ tag }}</a></li>
	{% endfor %}
    </ul>
    {% endif %}
  </aside>
</div>
