<script>
(function() {
  var cx = '{{ site.google_custom_search_id }}';
  var gcse = document.createElement('script'); gcse.type = 'text/javascript';
  gcse.async = true;
  gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
      '//www.google.com/cse/cse.js?cx=' + cx;
  var s = document.getElementsByTagName('script')[0];
  s.parentNode.insertBefore(gcse, s);
})();
</script>
<script src="{{ site.url }}/js/jquery.typewatch.js"></script>
<script>
    $(function() {    
        $("#search-input")
            .focus(function() {
                $(this).addClass("search-input-active");
                if ($(this).val() == $(this).attr("title")) {
                    $(this).val("");
                }
            })
            .blur(function() {
                var val = $(this).val();
                var title = $(this).attr("title");
                if (val == "" || val == title) {
                    $(this).removeClass("search-input-active");
                    $(this).val(title);
                }
            })
            .trigger("blur")
            .typeWatch({
                highlight: true,
                wait: 500,
                captureLength: -1,
                callback: function(txt) {
                    var q = $.trim(txt);
                    var jMessage = $("#search-message");
                    
                    if (jMessage.length == 0) {
                        jMessage = $('<div id="search-message"></div>');
                        $("#search-bar").append(jMessage);
                    }
                    
                    if (q.length < 3 && q.length > 0) {                        
                        jMessage.text(3 - q.length + " more character" + (3 - q.length == 1 ? "" : "s") + "...").show();
                        return;
                    }
                    
                    $("#search-input").addClass("searching");
                    jMessage.text("searching...").show();                                    
                    
                    $(".category-container").load(
                        "/search/results",
                        { q: q, returnTitle: "All Proposals", returnUrl: "/" },
                        function() {
                            $("#search-input").removeClass("searching");
                            $("#search-message").hide()
                        }
                    );
                    
                    document.title = q.length > 0 ? ('Proposals containing "' + q + '" - ICE CREAM - Stack Exchange') : 'Search All Proposals';
                }
            });

        // preload image
        <!-- new Image().src = settings.contentPath + "/img/ajax-loader.gif"; -->
    });
</script>
