<div class="section-nav">
  <div class="left align-right">
    {% if page.previous != null %}
      <a href="{{ site.url }}{{ page.previous.url }}" class="prev">
	{% if page.previous.title %}
	  <i class="icon-chevron-left"></i>{{ page.previous.title }}
	{% else %}
          <i class="icon-chevron-left"></i> Back
	{% endif %}
      </a>
    {% else %}
      <span class="prev disabled"></span>
    {% endif %}
  </div>
  <div class="right align-left">
    {% if page.next != null %}
      <a href="{{ site.url }}{{ page.next.url }}" class="next">
	{% if page.next.title %}
	  {{ page.next.title }}<i class="icon-chevron-right"></i>
	{% else %}
          Next<i class="icon-chevron-right"></i>
	{% endif %}
      </a>
    {% else %}
      <span class="next disabled"></span>
    {% endif %}
  </div>
  <div class="clear"></div>
</div>
