@charset "UTF-8";

body {
    // background: #fafafa!important;
    overflow-x: hidden;
    font-family: BlinkMacSystemFont, "PingFang SC", "Segoe UI", "Microsoft YaHei", "Ubuntu","Roboto","Oxygen","Cantarell","Open Sans","Helvetica Neue",sans-serif;
    letter-spacing: 0;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
    color: rgba(0,0,0,.8);
    font-size: 18px;
    line-height: 1.4;
    position: relative;
    transition: background 1s ease .2s;
}
.hidden {
    display:none;
}

#banner-wrapper img {
    width: 424px;
}
.blink-wrapper {
    text-align: center;
    font-size: 14em;
    margin: 0;
}

nav {
    text-align: center;
    margin-top: 14px;
}
nav a {
    font-size: 18px;
    margin: auto 10px;
    color: black;
    text-transform: uppercase;
    font-family: Georgia, Times New Roman, Times, serif;
}

#about p,
nav a span {
    display: none;
}

#about,
#friends,
#works,
#archive,
#rss,
#search {
    text-decoration: none;
}
#friends svg,
#works svg,
#archive svg,
#rss svg,
#search svg {
    width: 20px;
}

#play-area {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9;
}
.article-list {
    list-style-type: none;
    padding: 0;
}
.article-list li{
    background: #fff;
    box-shadow: 0 1px 4px rgba(0,0,0,.04);
    border: 1px solid rgba(0,0,0,.09);
    border-radius: 3px;
    border-bottom: none;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 15px;
    max-width: 660px;
    position: relative;
}
.article-list li.articles {
    border-left: 4px solid #191919;
}
.article-list li.articles:after {
    content: "文";
    position: absolute;
    top: 4px;
    right: 4px;
    font-size: 16px;
    color: gainsboro;
}
.article-list li.translation{
    border-left: 4px solid #ED462F; //#54A650
}
.article-list li.translation:after {
    content: "譯";
    position: absolute;
    top: 4px;
    right: 4px;
    font-size: 16px;
    color: gainsboro;
}

.title {
    text-decoration: none;
    color: rgba(0,0,0,.8);
    font-size: 29px;
    margin-left: -1.81px;
    line-height: 1.04;
    letter-spacing: -.028em;
}

.article-list .meta {
    color: rgba(0,0,0,.44);
    font-size: 14px;
}

.article-list .meta p {
    display: inline-block;
}
.article-list .meta p:first-child {
    margin-right: 16px;
}

.tags {
    font-size: 12px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Open Sans","Helvetica Neue",sans-serif;
    letter-spacing: 0;
    font-weight: 400;
    font-style: normal;
}
.tags a {
    border: none;
    color: rgba(0,0,0,0.6);
    background: rgba(0,0,0,0.05);
    /*font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Open Sans","Helvetica Neue",sans-serif;*/
    font-weight: 400;
    font-style: normal;
    color: rgba(0,0,0,0.44);
    font-size: 13px;
    letter-spacing: 0;
    line-height: 22px;
    text-decoration: none;
    background: #fafafa;
    border-radius: 3px;
    border: 1px solid #f0f0f0;
    padding: 5px 10px;
    display: inline-block;

    margin-right: 8px;
    margin-bottom: 8px;
}
.tags a:hover {
    background: rgba(0,0,0,0.1);
    color: rgba(0,0,0,0.6);
    border-color: rgba(0,0,0,0.15);
    text-decoration: none;
    cursor: pointer
}
/* .return { */
/*     position: fixed; */
/*     top: 10px; */
/*     left: 3%; */
/*     font-weight: 500; */
/*     background: #4285f4; */
/*     color: white; */
/* } */
.return {
    position: fixed;
    right: 20px;
    top: 10px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    cursor: pointer;
    z-index: 9;
}
.return:hover {
  opacity: 1;
}
.return:before, .return:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 24px;
  width: 4px;
  background-color: #333;
}
.return:before {
  transform: rotate(45deg);
}
.return:after {
  transform: rotate(-45deg);
}
#custom-search {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    margin-top: 30px;
}
.play-area-tips {
    display: block;
    text-align: center;
    margin-top: 20%;
    position: absolute;
    width: 100%;
    font-size: 30px;
}

/* @media(max-width: 900px) { */
/*     .return { */
/*         top: initial; */
/*         left: initial; */
/*         bottom: 10px; */
/*         right: 10px; */
/*     } */
/* } */
@media(max-width: 767px) {
    #banner-wrapper img {
        width: 50%;
        margin-top: 2%;
    }
    .blink-wrapper {
        font-size: 10em;
    }

    nav {
        margin-top: '4px';
    }
    nav a {
        display: block;
        font-size: 16px;
        margin: 8px auto;
        color: #191919 !important;
        text-decoration: underline !important;
    }
    #rss {
        display: none!important;
    }

    #about div,
    nav a svg {
        display: none !important;
    }

    #about p,
    nav a span {
        display: block;
    }
    .play-area-tips {
        margin-top: 45%;
        font-size: 24px;
    }

}
/* @media(max-width: 320px) { */
/* } */


/*!
 * Bootstrap v3.3.7 (http://getbootstrap.com)
 * Copyright 2011-2016 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 *//*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
button {
    -webkit-appearance: button;
    text-transform: none;
    overflow: visible;
    margin: 0;
    font: inherit;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}


/*!
 * animate.css -http://daneden.me/animate
 * Version - 3.5.1
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2016 Daniel Eden
 */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated.bounceIn,
.animated.bounceOut {
    -webkit-animation-duration: .75s;
    animation-duration: .75s;
}
@-webkit-keyframes bounceIn {
    from, 20%, 40%, 60%, 80%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97);
    }

    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
@keyframes bounceIn {
    from, 20%, 40%, 60%, 80%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97);
    }

    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
.bounceIn {
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}
@-webkit-keyframes bounceInUp {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 3000px, 0);
        transform: translate3d(0, 3000px, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0);
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes bounceInUp {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 3000px, 0);
        transform: translate3d(0, 3000px, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0);
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.bounceInUp {
    -webkit-animation-name: bounceInUp;
    animation-name: bounceInUp;
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

@-webkit-keyframes bounceOutDown {
    20% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }

    40%, 45% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(0, 2000px, 0);
        transform: translate3d(0, 2000px, 0);
    }
}

@keyframes bounceOutDown {
    20% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }

    40%, 45% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(0, 2000px, 0);
        transform: translate3d(0, 2000px, 0);
    }
}

.bounceOutDown {
    -webkit-animation-name: bounceOutDown;
    animation-name: bounceOutDown;
}

@-webkit-keyframes bounceOut {
    20% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }

    50%, 55% {
        opacity: 1;
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    to {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
}

@keyframes bounceOut {
  20% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  50%, 55% {
    opacity: 1;
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }
}

.bounceOut {
  -webkit-animation-name: bounceOut;
  animation-name: bounceOut;
}
