html {
    margin: 0;
    font: 300 .9em/1.6em "Droid Serif", Cambria, Georgia, "DejaVu Serif", serif, "Microsoft YaHei", "宋体";
    background-image: url(../img/Iceberg.jpg);
    background-attachment: fixed;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-color: white;
}
body {
    font-family: "Droid Serif", "Microsoft YaHei", "宋体", "Lucida Grande", "Lucida Sans Unicode", "DejaVu Sans", Verdana, sans-serif;
    font-size: 11pt;
    line-height: 1.3;

    background-image: url(../img/icecream.png);
    background-attachment: fixed;
    background-position: right bottom;
    background-repeat: no-repeat;
}	  

/* body p{ */
/*     font-family: "Droid Serif", "Microsoft YaHei", "宋体", "Lucida Grande", "Lucida Sans Unicode", "DejaVu Sans", Verdana, sans-serif; */
/*     font-size: 11pt; */
/*     line-height: 1.3; */
/* }	   */

/* some others */
body a {
    color: #24A0DA;
}
body a:hover {
    color: purple;
}
body a:active {
    color: purple;
}
body a:visited {
    color: purple;
}

/* selection */
/* body ::selection { */
/* 	background: #E58994; */
/* 	color: #fff; */
/* } */
/* @media="screen"  */
::selection {
	background: #E58994;
	color: #fff;
}
::-moz-selection {
	background: #E58994;
	color: #fff;
}
/* @media="all" ::selection { */
/* 	background: #E58994; */
/* 	color: #fff; */
/* } */
/* selection end */

/*Here is content*/
@media screen
{
    #table-of-contents {
	float: right;
	border: 1px solid #CCC;
	max-width: 50%;
	overflow: auto;
    }
} /* END OF @media screen */
#table-of-contents {
    font-size: 9pt;
    position: fixed;
    right: 0em;
    top: 0em;
    background: white;
    -webkit-box-shadow: 0 0 1em #777777;
    -moz-box-shadow: 0 0 1em #777777;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    text-align: right;
    max-height: 80%;
    overflow: auto;
    z-index: 200;
}
#table-of-contents #text-table-of-contents {
    display: none;
    text-align: left;
}
#table-of-contents:hover #text-table-of-contents {
    display: block;
    padding: 0.5em;
    margin-top: -1.5em; 
}
#table-of-contents ul {
    margin-left: 14pt;
    margin-bottom: 10pt;
    padding: 0;
}
#table-of-contents ul>:first-child {
    color: blue;
}
#table-of-contents li {
    padding: 0;
    margin: 1px;
    list-style: none;
}
#text-table-of-contents li a:hover {
    /* font-size: 16px; */
    color: yellowgreen;
}
a:hover, a:active { 
    text-decoration: underline; 
    color: #FF0000;
/* color: #537d7b; */
}
/* Content end */

/* Content */
body #content {
    padding-top: 0px;
    max-width: 80%;
    min-width: 700px;
    margin-left: 20px;
    background-color: rgb(230, 230, 230);
    padding: 2em;
    box-shadow: 3px 3px 5px #888;
    border-radius: 10px;
}
/* Content end */

/* blockquote */
blockquote p{
    font-size: 24px;
    font-family: 'Great Vibes', cursive;
}

/* example */
.example{
    font-family: "Droid Serif", "Microsoft YaHei", "宋体", "Lucida Grande", "Lucida Sans Unicode", "DejaVu Sans", Verdana, sans-serif;
}	  


/* code */
code {
    font-size: 100%;
    color: black;
    border: 1px solid #DEDEDE;
    padding: 0px 0.2em;
    border-radius: 4px;
    box-shadow: inset 0 1px 10px rgba(126, 40, 235, .3), 
                      0 1px 0 rgba(145, 5, 255, .1), 
                      0 -1px 0 rgba(230, 197, 238, .5);
}
/* code end */

/* Search */
div#search-bar {
    width: 190px;
    /* padding-top: 68px; */
    position:fixed;
    z-index: 10;
    right: 0px;			/*Right*/
}
div.gsc-control-cse {
    border: 0px;
    background-color: transparent;
}
td.gsc-search-button>input {
    padding: 4px 4px;
}
td#gs_tti0>input {
    background-color: transparent;
    background-image: none;
}
/* Search end */

/* logo */
#logo {
    font-family: 'Great Vibes', cursive;
    font-size: 48px;
    padding-top: 12px;
    padding-left: 20px;
    padding-bottom: 12px;
    display: inline-block;
}
#logo a {
    text-decoration: none;
    color: blueviolet;
}
#logo a:hover {
    color: blueviolet;
}
/* logo end */

/* archive */
ul.archive {
    font-family: 'Libre Baskerville', serif;
}
/* archive end */

/* tags */
ul.tags {
    font-size: 16px;
    color: rgb(236, 184, 184);
}

.tag-cloud, .post-list {
    /* white-space: pre;		/\*when met space to enter*\/ */
    display: inline-block;
    margin: 0;
    padding: 0;
    font-family: Monaco, Menlo, Consolas, "Courier New", Courier, "Liberation Mono", monospace;
    font-size: 16px;
    padding: 0 .5em;
    line-height: 1.8em;
    /* background: #333; */
    background:rgb(228, 222, 222);
    color: #fff;
    border-radius: 5px;
    box-shadow: inset 0 1px 10px rgba(0,0,0,.3), 0 1px 0 rgba(255,255,255,.1), 0 -1px 0 rgba(0,0,0,.5);
}
.tag-cloud a:hover {
    text-decoration:underline;
}
.post-list li {
    list-style-type:none;
}
.post-list li a {
    text-decoration: none;
}
/* hide elements */
.hide {
    display: none;
}
/* tags clound end */

/* Navigation */
div.navigation {
    width: 180px;
    text-align: right;
    margin-right: 20px;
    padding-top: 40px;
    position:fixed;
    z-index: 9;
    right: 0px;			/*Right*/
}
.navigation :hover {
    cursor: move;
}
.navigation li:hover {
    cursor: pointer;
}
.navigation a:hover {
    color: yellowgreen;
    cursor: pointer;
}
menu, ol, ul {
    padding: 0 0 0 40px;
}
dl, menu, ol, ul {
    margin: 1em 0;
}
.navigation aside li {
    list-style-type: none;
    font-size: 16px;
}
.navigation a {
    text-decoration: none;
}
.current {
    font-size: 24px;
}

/* Navigation end */

/* pane */
.pane {
    font-family: 'Libre Baskerville', serif;
}
/* pane end */

/* doc/article caption */
#article_title{
    font-size: 44px;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
}
.posted-time {
    text-align: center;
}
.outline-3 {
    font-size: 16px;
}
.outline-2 h1, .outline-3 h1 {
    /* font-size: 36px; */
    font-family: 'Montserrat', sans-serif, "Microsoft YaHei", "宋体";
}
.outline-2 h2, .outline-3 h2 {
    /* font-size: 32px; */
    font-family: 'Montserrat', sans-serif, "Microsoft YaHei", "宋体";
    color: #00A399;
    border-bottom: 1px solid rgb(252, 162, 162);
}
.outline-2 h3, .outline-3 h3 {
    /* font-size: 24px; */
    font-family: 'Montserrat', sans-serif, "Microsoft YaHei", "宋体";
    color: #00A399;
}
.outline-2 h4, .outline-3 h4 {
    /* font-size: 18px; */
    font-family: 'Montserrat', sans-serif, "Microsoft YaHei", "宋体";
    color: #00A399;
}
.outline-2 h5, .outline-3 h5 {
    /* font-size: 16px; */
    font-family: 'Montserrat', sans-serif, "Microsoft YaHei", "宋体";
    color: #00A399;
}
/* doc/artical caption */

/* timestamp */
.timestamp {
	color: rgb(0, 143, 255);
	font-family: monospace;
}
/* timastamp end */
/* textarea */
textarea {
    display: inline-block;
    height: auto;
    width: 206px;
    padding: 4px 6px;
    font-size: 14px;
    line-height: 20px;
    color: #555555;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 0;
    vertical-align: middle;
    margin-left: 0;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
    overflow: auto;
    margin: 0;    
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
@media (min-width: 1200px)
textarea {
    margin-left: 0;
}
/* textarea end */

/* 回到顶部 */
.backToTop {
    z-index: 44;
    position: fixed;
    bottom: 44px;
    right: 150px;
    font-size: 44px;
    display: none;
}

/* about */
.about>p {
    font-family: 'Great Vibes', cursive;
    font-size: 46px;
}
/* about end */

/* footer */
.footer {
    text-align: center;
    font-family: 'Great Vibes', cursive;
}
.footer a {
    text-decoration: none;
    color: blueviolet;
}
.footer a:hover {
    color: blueviolet;
}
/* footer end */
