---
layout: default
---
<div class="screen-content post-supplemental-loaded">
  <article class="post-article grid-breaking">
    <div class="metabar">
      
    </div>
    <!-- 正文部分 -->
    <section class="post-page-wrapper post-page-wrapper-contain">
      <div class="post-page-wrapper-inner">
        <div class="post-author-side">
          <div class="post-author-card">
            <a href="{{ site.url }}/" class="post-author-image">
              <img src="/img/icecream.png" class="" alt="" />
            </a>
            <div class="post-author-info">
              <a href="{{ site.url }}/" class="post-author-name">icecream</a>
              <a href="mailto:creamidea@gmail.com" title="gmail me" style="color: #dd4b39">Gmail</a>
            </div>
            <div class="post-published-date">
              <strong>Post Date</strong>
              <p><time class="post-date">{{ page.date | date: '%A, %d %B %Y' }}</time></p>
            </div>
            <a href="{{ site.archive }}" style="color: #00a753;" title="Shortcuts(A/a)">Archive</a>
            <div class="post-tags">
              {% include tag_below_title.html %}
            </div>
          </div>
        </div>
        <div class="post-field image image-picker-wrap background-size-contain">
          
        </div>
        <!-- <header class="post-header post-header-top post-item-meta"> -->
        <!--   <\!-- <ul class="post-meta"> -\-> -->
        <!--     <\!-- <li class="post-meta-item">post-meta-item -\-> -->
            
        <!--     <\!-- </li> -\-> -->
        <!--   <\!-- </ul> -\-> -->
        <!-- </header> -->
        <div class="post-content">
          <div class="post-content-inner">
            <div class="notes-source">
              <header class="post-header post-header-headline">
                <h1 name="title" class="post-title">{{ page.title }}</h1>
              </header>
              <div class="post-field body">
		            {{ content }}
                <!-- 文章结尾处 -->
                <hr />
                <div class="post-tags-bottom">
                  {% include tag_below_title.html %}
                </div>
                <div class="post-section-nav">
                  <!-- the nagivation below the article -->
                  {% include section_nav.html %}
                </div>
              </div>
            </div>
            <div class="post-author-bottom post-supplemental">
              <div class="post-author-card">
                <a href="{{ site.url }}/" class="post-author-image">
                  <img src="/img/icecream.png" class="" alt="" />
                </a>
                <div class="post-author-info">
                  <a href="{{ site.url }}/" class="post-author-name">icecream</a>
                  <a href="mailto:creamidea@gmail.com" title="gmail me" style="color: #dd4b39">Gmail</a>
                </div>
                <a href="{{ site.archive }}" class="archive" title="Shortcuts(A/a)">Archive</a>
                <div class="post-published-date">
                  <strong>Post Date</strong>
                  <p><time class="post-date">{{ page.date | date: '%A, %d %B %Y' }}</time></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="post-footer post-supplemental">
      <div class="post-footer-inner">
        <div class="post-footer-content post-content">
          <div class="comments">
            {% include disqus.html %}
          </div>
          {% include footer_copyright.html %}
        </div>
      </div>
    </footer>
  </article>
</div>
<!-- <\!-- 水平分割虚线(Horizontal dividing dotted line) -\-> -->
<!-- <hr /> -->
<div class="clearfix"></div>
<!-- Back To Top -->
<div class="backToTop">
  <a href="#top">
    <i class="icon-chevron-up"></i>
  </a>
</div>
<!-- documents keyboard setting -->
{% include doc_key.html %}
